:root{
box-sizing: border-box;
}

*,*::after,*::before {
box-sizing:inherit;
margin: 0;
}



header{
    width: 100%;
    height: 120px;
    background: grey;
    position: fixed;
    z-index: 10;
    
    .featherMenu {
        position: absolute;
        right: 15px;
        top: calc(50% - 24px);
        outline: 2px solid black;
        border-radius: 10px;
        cursor: pointer;


        width: 36px;
        height: 36px;
        stroke: currentColor;
        stroke-width: 3;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;

        @media (min-width: 768px) {
            display: none;
        }
    }
    .featherHome {

        position: absolute;
        top: calc(50% - 32px);
        left: 6px;
        cursor: pointer;


        width: 64px;
        height: 64px;
        stroke: currentColor;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;

    }

}
main{
    width: 100%;
    height:calc(100vh - 120px);
    position: relative;
    top: 120px;

    #leftNavBar{
        width: 180px;
        height: calc(100% - 120px);
        background: grey;
        position: fixed;
        left:0px;
        display: flex;
        flex-direction: column;
        z-index: 180;

        
        overflow-y: scroll;
        overflow-x: hidden;


        transition: left 0.3s;

        //Selectionne la navbar si elle est aussi de la class mobileHide
        &.mobileHide{
            left:-190px;

            @media(min-width: 768px){
                left: 0px;
            }
        }


        hr{
            border: none;
            height: 25px;
        }
    }

    #mainContent{

        width: 100%;

        @media (min-width : 768px){
            width: calc(100% - 180px);
            position: relative;
            left: 180px;
        }

        #miniMenu{
            grid-row: 0;
            position: fixed;
            top: 130px;
            right: 25px;
            height: 25px;
            width: 150px;
            background-color: #CCCCCCDD;
            border-radius: 13px;
            z-index: 10;


            #featherUpload {
           
            cursor: pointer;

            height: 75%;
            position: relative;
            top: 12.5%;
            stroke: currentColor;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            fill: none;
            }
        }

        #images{
            position: relative;
            top : 40px;

            display: flex;
            flex-direction: column;
            width: 90%;
            left: 5%;
            row-gap: 15px;

            .imgcontainer{


                position: relative;

                .appearonimghover{
                    opacity: 0;
                    transition: opacity 0.5s;

                    @media(max-width : 767px){
                        display: none;

                    }
                }
                .featherdeleteimage {
                position: absolute;
                    right: 24px;
                    bottom: 28px;
                    width: 24px;
                    height: 24px;
                    stroke: white;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    fill: none;
                    cursor: pointer;
                }
                .featherdeleteimage2 {
                    position: absolute;
                        right: 24px;
                        bottom: 28px;
                        width: 24px;
                        height: 24px;
                        stroke: black;
                        stroke-width: 4;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        fill: none;
                    }

                .feathermaximizeimage {
                    position: absolute;
                        right: 24px;
                        top: 16px;
                        width: 24px;
                        height: 24px;
                        stroke: white;
                        stroke-width: 2;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        fill: none;
                        cursor: pointer;
                    }
                    .feathermaximizeimage2 {
                        position: absolute;
                            right: 24px;
                            top: 16px;
                            width: 24px;
                            height: 24px;
                            stroke: black;
                            stroke-width: 4;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                            fill: none;
                        }
                .feathermoveimage {
                    position: absolute;
                        left: 24px;
                        top: 16px;
                        width: 24px;
                        height: 24px;
                        stroke: white;
                        stroke-width: 2;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        fill: none;
                        cursor: pointer;
                    }

                    .feathermoveimage2 {
                        position: absolute;
                            left: 24px;
                            top: 16px;
                            width: 24px;
                            height: 24px;
                            stroke: black;
                            stroke-width: 4;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                            fill: none;
                        }
                img{
                    width: 100% ;
                    @media (min-width : 768px){
                        padding : 10px 10px 10px 10px;
                        max-width: 450px;
                    }
                    
                }
            }

            .imgcontainer:hover, .imgcontainer:active{
                .appearonimghover {
                    opacity: 1;
                    display: block;
                    }
            }

           

            @media (min-width : 768px){
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            }
        }

        #folderName{
            position: absolute;
            left: 5%;
            white-space: nowrap;
            
        }

        .inWindow{
            position: fixed;
            top : 50%;
            width: 70vw;
            height: 30vh;
            left :15vw;
            background-color: white;
            border-radius: 5px;
            z-index: 999;
            
            border: black 2px solid;
            
            input{
                width: 80%;
                position: relative;
                left: 10%;
            }
            p{
                position: relative;
                left: 10% ;
            }

            .windowHeader{
                background-color: grey;
                justify-self: flex-start;
            }
            .buttons{
              position: absolute;
              bottom: 0;
              right: 10px;

            }
        }

    }
}


.isHidden{
    display: none;
}
.folderPanel{
    display: flex;
    align-items: center;
    justify-content: space-between;

    //Selectionne les folderPanel qui sont aussi de la class blueOne
    &.blueOne{
        margin-bottom: 30px;
    }

    .featherfolder{
        margin-left: 3px;
    }
    .textDiv{
        background : #FFFFFF35;
        width : 110px;
        border-radius: 20px;
        padding-left: 4px;
        padding-right: 4px;
        cursor: pointer;

        p{
            width: 100%;
            height: 100%;
            overflow: hidden;
            white-space: nowrap;

            text-overflow: ellipsis;
        }
    }

    .featherfolderright{
        margin-right: 4px;
        cursor: pointer;
    }

}

.transparent{
    opacity: 0;
}

#imgScreen{
    transition: opacity 0.8s;
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: black;

    z-index: 5000;
    &.isHidden{
        display: none;
    }
    
    img{
        width: 100%;
        align-self: center;
        justify-self: center;
    }
    

    .feathercloseimage {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 10px;;
        stroke: white;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
        cursor: pointer;
    }
    .feathercloseimage2 {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 10px;;
        stroke: black;
        stroke-width: 4;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
    }
}